

body{
	font-family: 'Roboto' , sans-serif;
    width: 100%;
    margin: 0;
}

.desconto{
    width: 100%;
    text-align: left;
    background-color: #1CD1B0;
    height: 38px;
}
.desconto p{
    font-size: 15px;
    padding: 10px 0 0 10px;
}
.titulo{
    height: 101px;
    position: fixed;
    background-color: #00669F;
    width: 100%;
}
.titulo h1{
    margin-left: 28px;
    font-size: 40px;
}

.herois {
    height: 597.01px;
    width: 374px;
    display: inline-block;
    border-radius: 16px;
    margin-top: 225.11px;
    margin-left: 112px;
    text-align: center;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;

}
.perfil{
    border-radius: 130px;
    
}
.botao{
    width: 145.34px;
    height: 54.76px;
    background-color: #00669F;
    text-align: center;
     margin: 0 114.73px 20.85px 113.93px;
}
.botao p{
    color: #F3F3F3;
    font-size: 17px;
   
}

footer{
    height: 51px;
    background-color:#00669F;
    box-sizing: border-box;
}
footer span{
    color: white;
    font-size: 16px;
    margin: 16px 0 16px 28px;
}